@import "settings";
@import "foundation";

ul {
	list-style:none;
}
li {
    margin-left: 20px;
}
button {
	border-radius: 8px;
}
div.bubble span.bubble {
    position: absolute;
    margin-top:-20px;
    margin-left:80px;
    color:#fff;
    background: #000080;
    padding:15px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
}
div.bubble:hover span.bubble {
    transform:scale(1) rotate(0);
} 