<!doctype html>
<html lang="en" ng-app="application">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NCVT Json Generator</title>
    <link href="./assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="./assets/js/foundation.js"></script>
    <script src="./assets/js/templates.js"></script>
    <script src="./assets/js/routes.js"></script>
    <script src="./assets/js/app.js"></script>
    <script type="text/javascript">localStorage.clear();</script>
  </head>
  <body>
    <div class="primary title-bar">
      <h2>NCVT Json Generator</h2>      
    </div ng>
    <div class="grid-frame">
      <div class="grid-block">
        <script type="text/ng-template"  id="tree_item_renderer.html">
          <button ng-if='data.name == "ProcessingSequence"' ng-click="saveJson(data)">{{data.name}}</button>
          <button ng-if='data.name != "ProcessingSequence"' ui-sref="settings{{data.name}}" ui-sref-opts="{reload: true}" ng-click="saveDataId(data.ID)">{{data.name}}</button>
          <div zf-action-sheet="">
            <div zf-as-button="" title="+"></div>
            <div zf-as-content="" position="bottom">
              <ul>
                <li><a ng-click="add(data,'ProcessingBlock')">ProcessingBlock</a></li>
                <li ng-if='data.name == "ProcessingSequence"'><a ng-click="add(data,'CrossValidationBlock')">CrossValidationBlock</a></li>
                <!-- if this is a CrossValidationBlock we display the choice for the Training and Validation Block -->
                
                <li ng-if='data.name == "CrossValidationBlock"'><a ng-click="add(data,'TrainingProcessingBlock')">TrainingProcessingBlock</a></li>
                <li ng-if='data.name == "CrossValidationBlock"'><a ng-click="add(data,'ValidationProcessingBlock')">ValidationProcessingBlock</a></li>

                <!-- if this is a TrainingProcessingBlock or a ValidationProcessingBlock:
                      We can just add processingBlocks -->

                
              </ul>
            </div>
          </div>
          <a class="button" ng-click="delete(data)" ng-show="data.nodes.length > 0">-</a>
          <ul>
              <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
          </ul>
        </script>
        
        <ul ng-controller="TreeController">

            <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
            <button ng-click="saveToPc('json')">SAVE</button>
        </ul>
        
        
      </div>
      <div class="grid-block">
        <div ui-view></div>
      </div>
    </div>
    
    
    
    <footer class="primary title-bar"></footer>
  </body>
</html>
