<!doctype html>
<html lang="en" ng-app="application">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NCVT Json Generator</title>
    <link href="./assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="./assets/js/foundation.js"></script>
    <script src="./assets/js/templates.js"></script>
    <script src="./assets/js/routes.js"></script>
    <script src="./assets/js/app.js"></script>
    <script type="text/javascript">localStorage.clear();</script>
  </head>
  <body>
    <div class="primary title-bar" style="padding: 12px;">
    <span class="title left"><img src="images/mensia-logo-white.png"></span>
    <span class="right"><h2 style="color: white;">NCVT Json Generator</h2></span>
      
           
    </div >
    <div class="grid-frame">
      <div class="grid-block">
        <script type="text/ng-template"  id="tree_item_renderer.html">
          <button ng-if='data.name == "ProcessingSequence"' ng-click="saveDataId(data.ID); saveJson(data)" ui-sref="settings{{data.name}}" ui-sref-opts="{reload: true}">{{data.name}}</button>
          <button ng-if='data.name != "ProcessingSequence"' ui-sref="settings{{data.name}}" ui-sref-opts="{reload: true}" ng-click="saveDataId(data.ID)">{{data.name}}</button>
          <div zf-action-sheet="">
            <div zf-as-button=""><button style="outline:none;background-color: Transparent;border: none;"><img src="images/icon_add_small_01.png"></button></div>
            <div zf-as-content="" position="bottom">
              <ul>
                <li><a ng-click="add(data,'ProcessingBlock')">ProcessingBlock</a></li>
                <li ng-if='data.name == "ProcessingSequence"'><a ng-click="add(data,'CrossValidationBlock')">CrossValidationBlock</a></li>
                <!-- if this is a CrossValidationBlock we display the choice for the Training and Validation Block -->
                
                <li ng-if='data.name == "CrossValidationBlock"'><a ng-click="add(data,'TrainingProcessingBlock')">TrainingProcessingBlock</a></li>
                <li ng-if='data.name == "CrossValidationBlock"'><a ng-click="add(data,'ValidationProcessingBlock')">ValidationProcessingBlock</a></li>

                <!-- if this is a TrainingProcessingBlock or a ValidationProcessingBlock:
                      We can just add processingBlocks -->

                
              </ul>
            </div>
          </div>

          <button ng-click="delete(data)" ng-show="data.nodes.length > 0" style="outline:none;background-color: Transparent;border: none;"><img src="images/icon_cancel_small_01.png"></button>
          <ul>
              <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
          </ul>
        </script>
        
        <ul ng-controller="TreeController">

            <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
            <button ng-click="saveToPc()" style="outline:none;background-color: Transparent;border: none;"><img src="images/icon_download.png" ></button>
            <div ng-controller="ctrl">
            </div>
        </ul>
        
        
      </div>
      <div class="grid-block">
        <div ui-view></div>
      </div>
    </div>
    
    
    
    <footer class="primary title-bar">
      
      <div class="main-stage">
          <div class="logo-container">
            <div class="logo-white"></div>
          </div>
          <div class="text-container">
            Copyright © 2016 - Mensia Technologies SA. <a href="#/legal">Legal Notice</a> <br>
            <a href="mailto:contact@mensiatech.com">Contact us</a><br>
            <a href="mailto:support@mensiatech.com">Offline Analysis support</a>
          </div>
        </div>
     </div>

    </footer>
  </body>
</html>
